@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="investimento-class">
    <h3>Investimentos</h3>
    <p>Learn about <a asp-controller="Investimento" asp-action="Index">Investimentos</a>.</p>
</div>

<div class="banco-class">
    <h3>Bancos</h3>
    <p><a asp-controller="Banco" asp-action="Index">Bancos</a>.</p>
</div>

<div class="cliente-class">
    <h3>Clientes</h3>
    <p><a asp-controller="Cliente" asp-action="Index">Clientes</a>.</p>
</div>

<div class="move-to-bottom">
    <h3 >Luccas00 GitHub</h3>
    <p>Learn about <a href="https://github.com/luccas00">luccas00 GitHub</a>.</p>
</div>

<div class="move-to-bottom-rigth">
    <h5>Luccas Carneiro LinkedIn</h5>
    <p>Learn about <a href="https://www.linkedin.com/in/luccas-carneiro-678689171/">Luccas Carneiro LinkedIn</a>.</p>
</div>