<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b75b6c4a-4e37-40bb-8d06-f844c4530f1e/resourceGroups/AEC/providers/Microsoft.Web/sites/webappluccasmvc</ResourceId>
    <ResourceGroup>AEC</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webappluccasmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e4fc4715-751d-4d61-9040-6b946c510304</ProjectGuid>
    <PublishUrl>https://webappluccasmvc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webappluccasmvc</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>